<h1>Add a book</h1>
<form class="ui form">
    <div class="field">
      <label>title</label>
      <input type="text" name="title" placeholder="title">
    </div>
    <div class="field">
      <label>description</label>
      <textarea rows="2" spellcheck="false" style="margin-top: 0px; margin-bottom: 0px; height: 118px;" placeholder="add a description..."></textarea>
    </div>
    <div class="field">
      <input type="date" name="pub_date" id="">
    </div>
    <div class="field">
        <input type="number" name="rating" placeholder="rating" max="5">
    </div>
    <div class="field">
        <label>author</label>
        <input type="text" name="author" placeholder="author">
    </div>
    <div class="field">
        <label>genre</label>
        <input type="text" name="genre" placeholder="genre">
    </div>
    <div class="field">
        <label>image</label>
        <input type="text" name="image" placeholder="image">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
