
    <form (submit)="login()" class="ui form">
        <div class="field">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" aria-describedby="emailHelp" placeholder="Enter email" name="email" [(ngModel)]="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="field">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" placeholder="Password" name="password" [(ngModel)]="password">
        </div>
        <button type="submit" class="ui button">Submit</button>
      </form>
    


