nav {
    /* margin-left: 65%; */
    display: flex;
    align-items: center;
}

.logo a {
    color: #18dce7;
   font-weight: bold;
   font-size: 1.5em;
}

.logo a:hover {
    text-decoration: none;
}

ul {
    display: flex;
    text-align: center;
    /* align-items: center; */
    padding-left: 70%;
    /* background: #18dce7; */
}

ul li {
    list-style-type: none;
    padding-left: 15px;
    transition: 2s;
}

ul li a {
    font-size: 1.2em;
    color: #18dce7;
}

@media only screen and (max-width: 600px) {
    ul {
        padding: 0px;
    }
}