<nav *ngIf="!userLoggedIn" class="navbar navbar-expand-lg">
    <h4 class="logo"><a [routerLink]="['']">Booklit.</a></h4>
    <ul>
        <li><a [routerLink]="['about']">about</a></li>
        <li><a [routerLink]="['user/signup']">sign up</a></li>
        <li><a [routerLink]="['user/login']">login</a></li>
    </ul>
</nav>
<nav *ngIf="userLoggedIn" class="navbar navbar-expand-lg">
    <h4 class="logo"><a [routerLink]="['']">Booklit.</a></h4>
    <ul>
        <li><a [routerLink]="['book/add-book']">add book</a></li>
        <li><a [routerLink]="['user/profile']">profile</a></li>
        <!-- <li><a [routerLink]="['user/login']">login</a></li> -->
    </ul>
</nav>