/* .grid {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
}

#first-child{
    position: fixed;
    margin-left: 10%;
}

.profile-header {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10%;
    align-items: center;
}

.profile {
    border: 1px solid #18dce7;
    border-radius: 100%;
    object-fit: cover;
}

.date {
    color: gray;
}

ul li {
    list-style-type: none;
    margin-top: 40px;
}

ul li a {
    color: #18dce7;
    font-size: 1.3em;
}

#two {
    margin-left: 30%;
}

.book-hold {
    margin-top: 100px;
}

.book-card {
    margin-top: 100px;
    display: flex;
    align-items: center;
    width: 800px;
    border: 1px solid #18dce7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 15px 25px lightgrey;
}

.desc {
    color: grey;
    width: 350px;
    margin-left: 100px;
} */

.main-container {
    margin-top: 7%;
    margin-left: 20%;
}

.profile-header{
    display: flex;
    align-items: center;
    margin-left: 23%;
}

.profile {
    border: 1px solid #18dce7;
    border-radius: 100%;
    object-fit: cover;
}

.bio {
    margin-left: 8%;
}

.date {
    color: gray;
}

.links {
    margin-top: 100px;
}

.links ul {
    display: flex;
    margin-left: 7%;
}

.links ul li {
    list-style-type: none;
    font-size: 1.5em;
    padding-left: 100px;
}

.book-cover {
    object-fit: cover;
}

.book-header {
    margin-top: 3%;
}

.container {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.book-img {
    margin: 10px;
}

a {
    color: #18dce7;
}

.rating {
    color: gray;
}